#base {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid;
    border-radius: 100%;
  }
  #vert {
    position: absolute;
    width: 0;
    height: 600px;
    border: 1px solid;
    left: 50%;
  }
  #horz {
    position: absolute;
    width: 600px;
    height: 0;
    border: 1px solid;
    top: 50%;
  }
  #diag1 {
    position: absolute;
    width: 0;
    height: 600px;
    border: 1px solid;
    transform: rotate(45deg);
    left: 50%;
  }
  #diag2 {
    position: absolute;
    width: 0;
    height: 600px;
    border: 1px solid;
    transform: rotate(-45deg);
    left: 50%;
  }